[submodule "integration"]
	path = integration
	url = git@github.com:soa2020/integration.git
	branch = main
[submodule "user"]
	path = user
	url = git@github.com:soa2020/user.git
	branch = main
[submodule "gateway"]
	path = gateway
	url = git@github.com:soa2020/gateway.git
	branch = main
[submodule "inventory"]
	path = inventory
	url = git@github.com:soa2020/inventory.git
	branch = main
[submodule "payment"]
	path = payment
	url = git@github.com:soa2020/payment.git
	branch = main
[submodule "comment"]
	path = comment
	url = git@github.com:soa2020/comment.git
	branch = main
[submodule "order"]
	path = order
	url = git@github.com:soa2020/order.git
	branch = main
[submodule "cart"]
	path = cart
	url = git@github.com:soa2020/cart.git
	branch = main
