[submodule "integration"]
	path = integration
	url = git@github.com:soa2020/integration.git
	branch = main
[submodule "user"]
	path = user
	url = git@github.com:soa2020/user.git
	branch = main
[submodule "gateway"]
	path = gateway
	url = git@github.com:soa2020/gateway.git
	branch = main
[submodule "inventory"]
	path = inventory
	url = git@github.com:soa2020/inventory.git
	branch = main
